body{
    height:100%;
	background-image: url(top.png);
    background-position:top;
    background-repeat: repeat-x;
}
.page_content {

  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article article"
    "footer footer footer";
  grid-template-rows: 100px 1fr auto;  
  grid-template-columns: 200px 1fr;

  height: 100vh;
  margin: auto;
  font-family:Calibri light;
  }  
 nav {
  width: auto;
  background:#F5F5F5;


  }
  
header{
    background:black;
}

 article{
  padding: 1em;
  background: #F2F2F2;

 }

 
 footer{
	 background: black;
	 color:white;
	 text-align: center;
	 height:50px;
 }
 #time{
     margin-top:20px;
 }

 #main_section{

 }
#pageTytle{
	
	color: white;
	font-size:30pt;
	margin-top:15px;
	margin-bottom:auto;
	float: left;

	
}
#navTytle{
	
	color: black;
	font-size:20pt;

	
}
.logo{
	
	width:90px;
	height:90px;
	float:left;
	padding: 1em;
}
#mytable {
	
	font-size:15px;
}

.td_text {
border: none;
background:none;
font-size:13px;
}
#pageHeader {
  grid-area: header;
  height:auto;
  display: inline;
  color: #fff;
  }
#loggedUser {
float: right;
height:100%;
margin: 15px auto;
width: 200px; 
}
#pageFooter {
  grid-area: footer;

  }
#mainArticle { 
  grid-area: article;  
  }
#mainNav { 
  grid-area: nav; 
  }

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
    body{
        
        max-width:400px;
    }

  .page_content { 
    display: grid;
    grid-template-areas: 
      "header"
      "article"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
  #pageTytle{
	color: white;
	font-size:15pt;
}
.line{
	
display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}
 nav {

display:none;


  }
}
