table {
	width:100%;
    border-collapse: collapse;
	margin-top: 10px;
	font-size:13pt;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;

}


#id {
	width: auto;
}

#name {
	width:auto;
}

#type{
	width:auto;
}
#city{
	width:auto;
}
#street{
	width:auto;

}

th {text-align: left;}